body {

}

.fretboard {
    background-color: #f5f5f5;
    width: 30%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    position: relative;
}

.strings {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.string {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.fret {
    position: absolute;
    height: 162px;
    width: 2px;
    background-color: #000;
}