<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <form th:action="@{'/progression/editor/' + ${progressionId}}" method="post" th:object="${progression}">
            <input type="hidden" name="_method" value="PATCH"/>
            <ol>
                <li th:each="chord : ${progression.chords}">
                    <p th:text="${chord.name}"></p>
                    <select name="chords" th:field="*{chords}">
                        <option th:each="availableChord : ${availableChords}" th:value="${availableChord.id}" th:text="${availableChord.name}"></option>
                    </select>
                </li>
            </ol>
            <button type="submit">Update</button>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>
