<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${role.name} + '; '"></span>
            </td>
            <td>
                <form action="${#httpServletRequest.contextPath}/admin" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <input type="hidden" name="action" value="delete"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chord : ${publicChords}">
            <td th:if="${chord != null}" th:text="${chord.id}"></td>
            <td th:if="${chord != null}" th:text="${chord.name}"></td>
            <td>
                <form method="POST" th:action="@{/admin/update/{chordId}(chordId=${chord.id})}">
                    <div>
                        <input type="text" name="updatename" placeholder="Updatename">
                        <button type="submit">Update</button>
                    </div>
                </form>
                <form action="@{/admin/delete/{chordId}(chordId=${chord.id})}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>

    <h2>Создать публичный аккорд</h2>
    <form method="POST"     action="admin/createChord">
        <input type="text" name="name" placeholder="Название аккорда">
        <input type="hidden" name="userId" th:value="${userID}">
        <button type="submit">Создать аккорд</button>
    </form>


    <a href="/">Главная</a>
</div>
</body>
</html>
