<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{src/main/resources/templates/css/main.css}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keycloak Spring Boot Integration</title>
</head>
<body>
<div>
    <header class="header">
        <h1 class="header__title">
            <a href="collector">
                Chord Collector
            </a>
            <ul class="title__navigation">
                <li class="navigation__el"><a class="navigation__link" href="collector">Сборщик аккордов</a>
                </li>
                <li class="navigation__el"><a class="navigation__link" href="profile">Мой профиль</a></li>
                <li class="navigation__el"><a class="navigation__link" href="#">Топ аккордов</a></li>
            </ul>
        </h1>
    </header>
    <footer>
        <sec:authorize access="hasRole('ROLE_ADMIN')">
            <h4><a href="/admin"> Панель админа </a></h4>
        </sec:authorize>
    </footer>
</div>
</body>
</html>