<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
</head>
<body>
<h4>Ваша почта: </h4>
<h4>Ваши сохраненные последовательности:</h4>
<table>
    <tbody>
    <tr th:each="progression : ${progressions}">
        <td th:each="chord : ${progression.chords}">
            <span th:text="${chord.name}"></span>
        </td>
        <td>
            <form th:action="@{/profile/deleteProgression/{id}(id=${progression.id})}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/progression/editor/{id}(id=${progression.id})}" method="GET">
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">На главную</a>
</body>
</html>
