
/* Reset default styles */

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    color: #007bff;
    text-decoration: none;
}
