#Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/misc.xml
##############################
#Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.iml
*.idea
/target
hs_err_pid*
target
.idea
/.idea
rabbitmq